* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(225deg, #7c7c7c, #646464);
    color: #eee;
    font-size: max(100%, 1.4vw);
}
header, .page, footer, #instrucoes {
    display: flex;
    align-items: center;
}
header, footer {
    height: 50px;
    justify-content: space-around;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white
}
p {
    margin: 5px
}
button, label {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
}