.login {
    gap: 20px
}
.login {
    justify-content: space-around;
    
    #recuperar {
        cursor: pointer;
        background-color: transparent;
        border: solid transparent;
    }
    span {
        font-size: 20px;
    }
    input {
        padding: 5px;
        border-radius: 4px;
        width: 50vw;
        color: #222;
    }
    button {
        padding: 8px;
        font-size: 16px;
    }
}