.page {
    height: 10vh;
    padding: 18rem 0vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#introducao {

}
#intrucoes {

}
#instrucoes-img {

}
#despedida {

}