.page {
    min-height: 100vh;
    padding: 10rem 0vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.resumo {
    p, h2 {
        padding: 8px;
    }
}