* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100dvh;
    background: linear-gradient(225deg, #F5F5F5, #D8E3E7);
    color: #333333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: clamp(1.3vw, 1.5vw, 2vw);
}
header, footer {
    max-height: 10%;
    background-color: #4A90E2;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 98.9dvw;
}
button, label {
    padding: 10px 20px;
    background-color: #FF6F61; /* Coral vibrante */
    border: none;
    border-radius: 5px;
    color: #FFFFFF; /* Texto branco */
    transition: background-color 0.3s ease, transform 0.2s; /* Transição suave */
}

button:hover, .btn:hover {
    background-color: #FF4C40; /* Cor de hover mais escura */
    transform: translateY(-2px); /* Leve efeito de elevação */
}

button:focus, .btn:focus {
    outline: none; /* Remove outline padrão */
    box-shadow: 0 0 5px rgba(255, 100, 100, 0.5); /* Sombra ao focar */
}
h1, h2, h3 {
    color: #4A90E2;
}

p {
    margin-bottom: 15px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
