@media print {
    footer, emoji-picker, #file-text, button,
    .color, label, header, .obs, .mobile-header, h1 {
        display: none;
    }
    #emoji {
        font-size: 70px;
    }
    img {
        max-width: 90%;
    }
    #text, #title {
        border: none;
        overflow: none;
    }
    .page {
        padding: 2rem 0vh;
        break-inside: avoid;
    }
    .print-only {
        display: block;
    }
}
